[Desktop Entry]
Name=Eclipse 
Type=Application
Exec=~/eclipse/eclipse
Terminal=false
Icon=~/eclipse/icon.xpm
Comment=Integrated Development Environment
NoDisplay=false
Categories=Development;IDE
Name[en]=eclipse.desktop
